// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts, #side #cart {
.product_item, .price_sum {
	width: 40%;
	list-style-type: none;
	clear: both;
	height: 20px;
	margin-left: 20%;
}

.product_quantity {
	float: left;
	width: 50px;
}

.product_title {
	float: left;
	margin-left: 40px;
}

.product_price, .price_sum_amount {
	float: right;
}

.price_sum {
	font-weight: bold;
	margin-top: 20px;
	border-top: solid 1px;
}
}