// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */
.store {

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
    border-bottom: 1px dashed darkgray;
    min-height: 100px;
    width: 80%;
    margin: 1em auto 0 auto;

    img {
      width: 80px;
      margin-right: 5px;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #428bca;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em;
      color: darkgray;
      form, div {
        display: inline;
      }
    }

    .price {
      color: #428bca;
      font-weight: bold;
      margin-right: 3em;
    }

    input {
      color: #fff;
      background-color: #f0ad4e;
      border-color: #eea236;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .button_to {
      float: right;
      clear: both;
      margin-bottom: 10px;
      margin-right: 60px;
    }
  }
}
/* END_HIGHLIGHT */